.tab {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
}

.content {
    /* border: 1px solid #ccc; */
    padding: 10px;
    display: none;
}

.tab.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.content.active {
    display: block;
}
.tab:hover {
    background-color: #e0e0e0;
}